mat-dialog-content > div {
    display: flex;
    gap: 1rem  ;
}

mat-dialog-actions {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

mat-form-field {
    width: 220px;
}