<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logoContainer">Platz für Logo</div>
    <ul class="menuItems">
      <li routerLink="/"><span class="material-icons">space_dashboard</span>Dashboard</li>
      <li routerLink="/user"><span class="material-icons">account_circle</span>User</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon class="material-icons menuIcon" (click)="drawer.toggle()">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="routerContainer">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>

